<div id="slide-out" class="side-nav">
    <div class="divider"></div>

    <div class="container">
        <h1>Hero Add</h1>
        <div class="input-field col s12">
            <input id="name" name="name" type="text" [(ngModel)]="hero.name" #name="ngModel" [ngClass]="{invalid:inputName}" class="validate"
                required />
            <label for="name" data-error="Please enter a name." [ngClass]="{invalid:inputName}">Hero Name:</label>
        </div>
        <div class="input-field col s12">
            <input id="description" name="description" type="text" [(ngModel)]="hero.description" [ngClass]="{invalid:inputDescription}"
                #description="ngModel" class="validate" required />
            <label for="description" data-error="Please enter a description." [ngClass]="{invalid:inputDescription}">Hero Description:</label>
        </div>
        <div class="col s12">
            <input type="checkbox" id="topRated" name="topRated" [(ngModel)]="hero.topRated" #topRated="ngModel" [checked]="hero.topRated"
            />
            <label for="topRated">Top Rated:</label>
        </div>
        <a class="btn-flat" (click)="addHero()">Submit</a>
    </div>

    <div class="divider"></div>
</div>

<!-- Hidden Activation Button -->
<a class="btn-collapse" data-activates="slide-out"></a>