<div class="container">
    <h1>Hero Add</h1>
    <div class="col s12">
        <label for="name">Hero Name:</label>
        <input id="name" name="name" [(ngModel)]="hero.name" #name="ngModel" type="text" class="form-control" required />
    </div>
    <div class="col s12">
        <label for="description">Description:</label>
        <textarea id="description" name="description" [(ngModel)]="hero.description" #description="ngModel" class="materialize-textarea"></textarea>
    </div>
    <div class="col s12">
        <input type="checkbox" id="topRated" name="topRated" [(ngModel)]="hero.topRated" #topRated="ngModel" [checked]="hero.topRated" />
        <label for="topRated">Top Rated:</label>
    </div>
    <a class="btn-flat" (click)="addHero()">Save</a>

</div>