<div class="container">
  <br />
  <div class="col 12">
    <a class="waves-effect waves-teal btn-flat" (click)="addHero()">Add Hero</a>
  </div>
  <br />
  <div class="collection">
    <a href="javascript:void(0)" class="collection-item"><span class="badge">1</span>Alan</a>
    <a href="javascript:void(0)" class="collection-item"><span class="new badge">4</span>Alan</a>
    <a href="javascript:void(0)" class="collection-item">Alan</a>
    <a href="javascript:void(0)" class="collection-item"><span class="badge">14</span>Alan</a>
  </div>
</div>