<div class="container">
  <br />
  <div class="col s12 right-align">
    <a class="btn-floating btn-large red" (click)="addHero()"><i class="fa fa-plus"></i></a>
  </div>
  <br />
  <table class="striped responsive-table">
    <thead>
      <tr>
        <th>Show</th>
        <th>Edit</th>
        <th>Remove</th>
        <th>Name</th>
        <th>Description</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hero of heroes$ | async;">
        <td><span><a href="javascript:void(0)" (click)="displayHero(hero)"><i class="fa fa-user-circle"></i></a></span></td>
        <td><span><a href="javascript:void(0)" (click)="editHero(hero)"><i class="fa fa-edit"></i></a></span></td>
        <td> <span><a href="javascript:void(0)" (click)="removeHero(hero)"><i class="fa fa-trash"></i></a></span></td>
        <td>{{hero.name}}</td>
        <td>{{hero.description}}</td>
        <td><span *ngIf="hero.topRated" class="new badge" data-badge-caption="Top Rated"></span></td>
      </tr>
    </tbody>
  </table>

</div>

<hero-add></hero-add>
